html {
  height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}
body {
  background-color: #141414;
  color: aliceblue;
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

#status {
  min-height: 30px;
  min-width: 150px;
  background-color: rgb(97, 200, 231);
}

#infoPanel {
  min-height: 30px;
  min-width: 150px;
  background-color: greenyellow;
}
